swagger: '2.0'
info:
  description: This is a sample spotcorona server
  version: 1.0.0
  title: SpotCorona api
  termsOfService: 'http://swagger.io/terms/'
  contact:
    email: apiteam@spotcorona.org
  license:
    name: GPLv3
    url: 'https://www.gnu.org/licenses/gpl-3.0.en.html'
host: api.spotcorona.org
basePath: /v1
tags:
  - name: Medical
    description: Everything about medical hisory endpoints
    externalDocs:
      description: Find out more
      url: 'http://swagger.io'
  - name: User
    description: Everything related to user's personal details
    externalDocs:
      description: Find out more about our group
      url: 'http://swagger.io'
schemes:
  - https
  - http
paths:
  
  /medmap/:
    post:
      tags:
        - Medical
      summary: Add medical questionnaire data
      description: ''
      operationId: reportmedicaldata
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: Medical Data Upload
          description: Medical data that needs to be added for score calcuation
          required: true
          schema:
            $ref: '#/definitions/MedicalMap/properties/medical_data'
            
      responses:
        '201':
          description: Medical Map Object created with med_uuid 
        '400':
          description: Invalid input
      security:
        - spotcorona_auth:
            - 'write:spotcorona_api'
            - 'read:spotcorona_api'
            
  /medmap/{med_uuid}/:
    put:
      tags:
        - Medical
      summary: Add medical questionnaire data
      description: ''
      operationId: reporttraveldata
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: med_uuid
          in: path
          description: ID of the Medical Data to update Travel Data to
          required: true
          type: string
      
        - in: body
          name: Medical Data Upload
          description: Travel data that needs to be added for score calcuation
          required: true
          schema:
            $ref: '#/definitions/MedicalMap/properties/travel_data'
            
      responses:
        '201':
          description: Medical Map Object with med_uuid updated
        '400':
          description: Invalid input
      security:
        - spotcorona_auth:
            - 'write:spotcorona_api'
            - 'read:spotcorona_api'
            
  /medmap/result/{med_uuid}/:
    get:
      tags:
        - Medical
      summary: Returns the score and score color of the medical data associated with the queried med_uuid
      description: Returns score and score color
      operationId: getmedicalscore
      produces:
        - application/json
      parameters:
        - name: med_uuid
          in: path
          description: ID of the Medical Data to calculate score
          required: true
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            type: object
            properties:
              score:
                type: number
              score_color:
                type: string
              probability:
                type: number
                
        '400':
          description: Invalid ID supplied
        '404':
          description: UUID not found
      security:
        - api_key: []
        - spotcorona_auth:
            - 'read:spotcorona_api'
  
  /medmap/list/{file}/:
    get:
      tags:
        - Medical
      summary: Returns the contents present in that file as a list
      description: Utilize this endpoint to populate country, state and domestic airport fields in UI
      operationId: getfilelist
      produces:
        - application/json
      parameters:
        - name: file
          in: path
          description: name of file. Use 'domestic_airport' for domestic_airport_from and domestic_airport_to fields. Use 'state' for current_state field. Use 'country' for country_travelled field.
          required: true
          type: string
          enum: [country, state, domestic_airport]
             
      responses:
        '200':
          description: list of values returned
          schema:
            type: array
            items: 
              type: string
                
        '400':
          description: Invalid filename supplied
        '404':
          description: filename not found
      security:
        - api_key: []
        - spotcorona_auth:
            - 'read:spotcorona_api'         
  
  # /user:
  #   post:
  #     tags:
  #       - User
  #     summary: Create user
  #     description: This can only be done by the logged in user.
  #     operationId: createUser
  #     produces:
  #       - application/xml
  #       - application/json
  #     parameters:
  #       - in: body
  #         name: body
  #         description: Created user object
  #         required: true
  #         schema:
  #           $ref: '#/definitions/User'
  #     responses:
  #       default:
  #         description: successful operation
  
  # /user/login:
  #   get:
  #     tags:
  #       - User
  #     summary: Logs user into the system
  #     description: ''
  #     operationId: loginUser
  #     produces:
  #       - application/xml
  #       - application/json
  #     parameters:
  #       - name: username
  #         in: query
  #         description: The user name for login
  #         required: true
  #         type: string
  #       - name: password
  #         in: query
  #         description: The password for login in clear text
  #         required: true
  #         type: string
  #     responses:
  #       '200':
  #         description: successful operation
  #         schema:
  #           type: string
  #         headers:
  #           X-Rate-Limit:
  #             type: integer
  #             format: int32
  #             description: calls per hour allowed by the user
  #           X-Expires-After:
  #             type: string
  #             format: date-time
  #             description: date in UTC when token expires
  #       '400':
  #         description: Invalid username/password supplied
  # /user/logout:
  #   get:
  #     tags:
  #       - User
  #     summary: Logs out current logged in user session
  #     description: ''
  #     operationId: logoutUser
  #     produces:
  #       - application/xml
  #       - application/json
  #     parameters: []
  #     responses:
  #       default:
  #         description: successful operation
  # '/user/{username}':
  #   get:
  #     tags:
  #       - User
  #     summary: Get user by user name
  #     description: ''
  #     operationId: getUserByName
  #     produces:
  #       - application/xml
  #       - application/json
  #     parameters:
  #       - name: username
  #         in: path
  #         description: 'The name that needs to be fetched. Use user1 for testing. '
  #         required: true
  #         type: string
  #     responses:
  #       '200':
  #         description: successful operation
  #         schema:
  #           $ref: '#/definitions/User'
  #       '400':
  #         description: Invalid username supplied
  #       '404':
  #         description: User not found
  #   put:
  #     tags:
  #       - User
  #     summary: Updated user
  #     description: This can only be done by the logged in user.
  #     operationId: updateUser
  #     produces:
  #       - application/xml
  #       - application/json
  #     parameters:
  #       - name: username
  #         in: path
  #         description: name that need to be updated
  #         required: true
  #         type: string
  #       - in: body
  #         name: body
  #         description: Updated user object
  #         required: true
  #         schema:
  #           $ref: '#/definitions/User'
  #     responses:
  #       '400':
  #         description: Invalid user supplied
  #       '404':
  #         description: User not found
  #   delete:
  #     tags:
  #       - User
  #     summary: Delete user
  #     description: This can only be done by the logged in user.
  #     operationId: deleteUser
  #     produces:
  #       - application/xml
  #       - application/json
  #     parameters:
  #       - name: username
  #         in: path
  #         description: The name that needs to be deleted
  #         required: true
  #         type: string
  #     responses:
  #       '400':
  #         description: Invalid username supplied
  #       '404':
  #         description: User not found
securityDefinitions:
  spotcorona_auth:
    type: oauth2
    authorizationUrl: 'http://spotcorona.swagger.io/oauth/dialog'
    flow: implicit
    scopes:
      'write:spotcorona_api': write data to the spotcorona api
      'read:spotcorona_api': read data from the spotcorona api
  api_key:
    type: apiKey
    name: api_key
    in: header
definitions:
  MedicalMap:
    type: object
    properties:
      medical_data:
        type: object
        properties:
          med_uuid:
            type: string
          work:
            type: number
            format: integer
            minimum: 0
            maximum: 4
            description: '0-None/Work from home, 1-Bound to work outside, 2-Delivery persons, 3-Police/Any other force, 4-Doctors/Health personnel'
          age:
            type: number
            format: integer
          height:
            type: number
            format: integer
          weight:
            type: number
            format: integer
          diabetes:
            type: boolean
          kidney:
            type: boolean
          asthma:
            type: boolean
          heart:
            type: boolean
          lungs:
            type: boolean
          stroke:
            type: boolean
          hypertension:
            type: boolean
          immuno:
            type: boolean
          smoker:
            type: boolean
          fever:
            type: number
            format: integer
            minimum: 0
            maximum: 4
            description: '0-No fever, 1-Temperature between 98.6 to 100.4 ^C, 2-Temperature between 100.4 to 104 ^C, 3-fever that comes and goes, 4-have not checked the Temperature'
          cough:
            type: number
            format: integer
            minimum: 0
            maximum: 4
            description: '0-No cough, 1-Dry Cough, 2-Cough with sputum, 3-Cough with chest pain, 4-Cough with abdominal pain'
          breathlessness:
            type: boolean
          fatigue:
            type: boolean
          joint_pain:
            type: boolean
          loss_of_taste_and_smell:
            type: boolean
          sore_throat:
            type: boolean
          nasal_congestion:
            type: boolean
          headache:
            type: boolean
          chills:
            type: boolean
          nausea_or_vomiting:
            type: boolean
          diarrhea:
            type: boolean
          conjunctival_congestion:
            type: boolean
          symptoms_improvement:
            type: number
            format: integer
            minimum: 0
            maximum: 3
            description: '0-Improved, 1-No change, 2-Worsened, 3-Worsened considerably'
            
      travel_data:
        type: "object"
        properties:
          domestic_flight:
            type: boolean
          domestic_train:
            type: boolean
          domestic_auto:
            type: boolean
          domestic_cab:
            type: boolean
          current_state:
            type: string
            enum:
              - ANDAMAN AND NICOBAR ISLANDS
              - ANDHRA PRADESH
              - ARUNACHAL PRADESH
              - ASSAM
              - BIHAR
              - CHANDIGARH
              - CHHATTISGARH
              - Dadra and Nagar Haveli and Daman and Diu
              - DELHI
              - GOA
              - GUJARAT
              - HARYANA
              - HIMACHAL PRADESH
              - JAMMU AND KASHMIR
              - JHARKHAND
              - KARNATAKA
              - KERALA
              - LADAKH
              - Lakshadweep
              - MADHYA PRADESH
              - MAHARASHTRA
              - MANIPUR
              - Meghalaya
              - MIZORAM
              - Nagaland
              - ODISHA
              - PUDUCHERRY
              - PUNJAB
              - RAJASTHAN
              - Sikkim
              - TAMIL NADU
              - TELANGANA
              - Tripura
              - UTTAR PRADESH
              - UTTARAKHAND
              - WEST BENGAL
          domestic_airport_from:
            type: string
            enum:
              - Agartala
              - Agra
              - Ahmedabad
              - Aizawl
              - Ajmer
              - Akola
              - Allahabad
              - Along
              - Ambala
              - Ambikapur
              - Amravati
              - Amreli
              - Amritsar
              - Arakkonam
              - Aurangabad
              - Awantipora
              - Balangir
              - Balurghat
              - Bangalore
              - Baramati
              - Bargarh
              - Baripada
              - Barmer
              - Barrackpore
              - Bathinda
              - Behala
              - Belgaum
              - Bellary
              - Berhampur
              - Bhagalpur
              - Bhavnagar
              - Bhawanipatna
              - Bhiwani
              - Bhopal
              - Bhubaneswar
              - Bhuj
              - Bidar
              - Bihta
              - Bikaner
              - Bilaspur
              - Bokaro
              - Campbell Bay
              - Car Nicobar
              - Chabua
              - Chakulia
              - Chandigarh
              - Chandrapur
              - Chennai
              - Chhindwara
              - Chitradurga
              - Chushul
              - Coimbatore
              - Cooch Behar
              - Cuttack
              - Dabolim
              - Daman
              - Daporijo
              - Darbhanga
              - Daulat Beg Oldi
              - Dehradun
              - Delhi NCR
              - Demchok
              - Dhanbad
              - Dhenkanal
              - Dhubri
              - Dhule
              - Dibrugarh
              - Diglipur
              - Dimapur
              - Diu
              - Doom Dooma
              - Dumka
              - Durgapur Asansol
              - Ganganagar
              - Gangtok
              - Gaya
              - Ghaziabad
              - Gondia
              - Gorakhpur
              - Gurugram
              - Guwahati
              - Gwalior
              - Halwara
              - Hasimara
              - Hirakud/Sambalpur
              - Hisar
              - Hubli
              - Hyderabad
              - Impha
              - Indore
              - Jabalpur
              - Jagdalpur
              - Jaipur
              - Jaisalmer
              - Jalandhar
              - Jalgaon
              - Jammu
              - Jamnagar
              - Jamshedpur
              - Jashpur
              - Jeypore
              - Jhalawar
              - Jharsuguda
              - Jodhpur
              - Jogbani
              - Jorhat
              - Kadapa
              - Kailashahar
              - Kalaburagi
              - Kalyan
              - Kamalpur
              - Kanchrapara
              - Kandla
              - Kangra
              - Kannur
              - Kanpur
              - Karad
              - Kargil
              - Karnal
              - Keshod
              - Khajuraho
              - Khandwa
              - Kharagpur
              - Khowai
              - Kochi
              - Kolhapur
              - Kolkata
              - Kollam
              - Korba
              - Kota
              - Kozhikode
              - Kullu
              - Kurnool
              - Lakshadweep
              - Latur
              - Leh
              - Lucknow
              - Ludhiana
              - Madurai
              - Malda
              - Mangalore
              - Mumbai
              - Munger
              - Muzaffarpur
              - Mysore
              - Nagarjuna Sagar
              - Nagpur
              - Naliya
              - Nanded
              - Narnaul
              - Nashik
              - North Lakhimpur
              - Nuapada
              - Osmanabad
              - Palanpur
              - Panagarh
              - Panchkula
              - Pantnagar
              - Pasighat
              - Pathankot
              - Patiala
              - Patna
              - Phalodi
              - Phaltan
              - Pithoragarh
              - Poonch
              - Porbandar
              - Port Blair
              - Puducherry
              - Pune
              - Purnea
              - Purulia
              - Raigarh
              - Raipur
              - Rairangpur
              - Rajahmundry
              - Rajkot
              - Rajouri
              - Ramanathapuram
              - Ranchi
              - Ratnagiri
              - Raxaul
              - Rayagada
              - Sagar
              - Saharanpur
              - Salem
              - Shella
              - Shillong
              - Shimla
              - Shirdi
              - Siachen
              - Silchar
              - Siliguri
              - Sindhudurg
              - Sirsa
              - Solapur
              - Srinagar
              - Surat
              - Suratgarh
              - Tezpur
              - Tezu
              - Thanjavur
              - Thiruvananthapuram
              - Thoise
              - Thoothukudi
              - Tiruchirapalli
              - Tirupati
              - Tura
              - Udaipur
              - Udhampur
              - Ujjain
              - Vadodara
              - Varanasi
              - Vellore
              - Vijayawada
              - Vijaynagar
              - Visakhapatnam
              - Warangal
              - Yavatmal
              - Ziro
          domestic_airport_to:
            type: string
            enum:
              - Agartala
              - Agra
              - Ahmedabad
              - Aizawl
              - Ajmer
              - Akola
              - Allahabad
              - Along
              - Ambala
              - Ambikapur
              - Amravati
              - Amreli
              - Amritsar
              - Arakkonam
              - Aurangabad
              - Awantipora
              - Balangir
              - Balurghat
              - Bangalore
              - Baramati
              - Bargarh
              - Baripada
              - Barmer
              - Barrackpore
              - Bathinda
              - Behala
              - Belgaum
              - Bellary
              - Berhampur
              - Bhagalpur
              - Bhavnagar
              - Bhawanipatna
              - Bhiwani
              - Bhopal
              - Bhubaneswar
              - Bhuj
              - Bidar
              - Bihta
              - Bikaner
              - Bilaspur
              - Bokaro
              - Campbell Bay
              - Car Nicobar
              - Chabua
              - Chakulia
              - Chandigarh
              - Chandrapur
              - Chennai
              - Chhindwara
              - Chitradurga
              - Chushul
              - Coimbatore
              - Cooch Behar
              - Cuttack
              - Dabolim
              - Daman
              - Daporijo
              - Darbhanga
              - Daulat Beg Oldi
              - Dehradun
              - Delhi NCR
              - Demchok
              - Dhanbad
              - Dhenkanal
              - Dhubri
              - Dhule
              - Dibrugarh
              - Diglipur
              - Dimapur
              - Diu
              - Doom Dooma
              - Dumka
              - Durgapur Asansol
              - Ganganagar
              - Gangtok
              - Gaya
              - Ghaziabad
              - Gondia
              - Gorakhpur
              - Gurugram
              - Guwahati
              - Gwalior
              - Halwara
              - Hasimara
              - Hirakud/Sambalpur
              - Hisar
              - Hubli
              - Hyderabad
              - Impha
              - Indore
              - Jabalpur
              - Jagdalpur
              - Jaipur
              - Jaisalmer
              - Jalandhar
              - Jalgaon
              - Jammu
              - Jamnagar
              - Jamshedpur
              - Jashpur
              - Jeypore
              - Jhalawar
              - Jharsuguda
              - Jodhpur
              - Jogbani
              - Jorhat
              - Kadapa
              - Kailashahar
              - Kalaburagi
              - Kalyan
              - Kamalpur
              - Kanchrapara
              - Kandla
              - Kangra
              - Kannur
              - Kanpur
              - Karad
              - Kargil
              - Karnal
              - Keshod
              - Khajuraho
              - Khandwa
              - Kharagpur
              - Khowai
              - Kochi
              - Kolhapur
              - Kolkata
              - Kollam
              - Korba
              - Kota
              - Kozhikode
              - Kullu
              - Kurnool
              - Lakshadweep
              - Latur
              - Leh
              - Lucknow
              - Ludhiana
              - Madurai
              - Malda
              - Mangalore
              - Mumbai
              - Munger
              - Muzaffarpur
              - Mysore
              - Nagarjuna Sagar
              - Nagpur
              - Naliya
              - Nanded
              - Narnaul
              - Nashik
              - North Lakhimpur
              - Nuapada
              - Osmanabad
              - Palanpur
              - Panagarh
              - Panchkula
              - Pantnagar
              - Pasighat
              - Pathankot
              - Patiala
              - Patna
              - Phalodi
              - Phaltan
              - Pithoragarh
              - Poonch
              - Porbandar
              - Port Blair
              - Puducherry
              - Pune
              - Purnea
              - Purulia
              - Raigarh
              - Raipur
              - Rairangpur
              - Rajahmundry
              - Rajkot
              - Rajouri
              - Ramanathapuram
              - Ranchi
              - Ratnagiri
              - Raxaul
              - Rayagada
              - Sagar
              - Saharanpur
              - Salem
              - Shella
              - Shillong
              - Shimla
              - Shirdi
              - Siachen
              - Silchar
              - Siliguri
              - Sindhudurg
              - Sirsa
              - Solapur
              - Srinagar
              - Surat
              - Suratgarh
              - Tezpur
              - Tezu
              - Thanjavur
              - Thiruvananthapuram
              - Thoise
              - Thoothukudi
              - Tiruchirapalli
              - Tirupati
              - Tura
              - Udaipur
              - Udhampur
              - Ujjain
              - Vadodara
              - Varanasi
              - Vellore
              - Vijayawada
              - Vijaynagar
              - Visakhapatnam
              - Warangal
              - Yavatmal
              - Ziro
          international_mode:
            type: boolean
          country_travelled:
            type: string
            enum:
              - USA
              - Italy
              - China
              - Spain
              - Germany
              - France
              - Iran
              - UK
              - Switzerland
              - Netherlands
              - Belgium
              - S. Korea
              - Turkey
              - Austria
              - Canada
              - Portugal
              - Israel
              - Norway
              - Brazil
              - Australia
              - Sweden
              - Czechia
              - Ireland
              - Malaysia
              - Denmark 
              - Chile
              - Luxembourg
              - Ecuador
              - Poland
              - Japan
              - Romania
              - Pakistan
              - Russia
              - Thailand
              - Philippines
              - SaudiArabia
              - Indonesia
              - South Africa
              - Finland
              - Greece
              - India
              - Iceland
              - Mexico
              - Panama
              - Dominican Republic
              - Peru
              - Singapore
              - Argentina
              - Serbia
              - Slovenia
              - Estonia
              - Croatia
              - Colombia
              - Hong Kong
              - Qatar
              - Egypt
              - New Zealand
              - UAE
              - Iraq
              - Bahrain
              - Algeria
              - Lithuania
              - Ukraine
              - Hungary
              - Lebanon
              - Armenia
              - Latvia 
              - Bulgaria
              - Bosnia and Herzegovina
              - Andorra
              - Costa Rica
              - Slovakia 
              - Tunisia
              - Uruguay
              - Taiwan
              - Kazakhstan
              - Moldova
              - North Macedonia
              - Jordan
              - Kuwait 
              - San Marino
              - Burkina Faso
              - Cyprus
              - Albania
              - Azerbaijan
              - Vietnam 
              - Réunion 
              - Oman 
              - Ivory Coast
              - Faeroe Islands 
              - Ghana
              - Malta 
              - Uzbekistan
              - Senegal 
              - Cameroon
              - Cuba
              - Honduras
              - Brunei
              - Afghanistan
              - Sri Lanka
              - Venezuela
              - Nigeria
              - Mauritius
              - Palestine
              - Channel Islands
              - Guadeloupe
              - Cambodia 
              - Georgia 
              - Bolivia
              - Belarus 
              - Martinique
              - Montenegro
              - Kyrgyzstan 
              - DRC
              - Trinidad and Tobago
              - Rwanda 
              - Gibraltar 
              - Paraguay
              - Mayotte 
              - Liechtenstein 
              - Aruba 
              - Bangladesh
              - Monaco
              - French Guiana 
              - Kenya
              - Isle of Man 
              - Madagascar 
              - Macao 
              - Guatemala
              - Barbados 
              - Uganda 
              - Jamaica
              - Togo
              - El Salvador 
              - French Polynesia 
              - Zambia 
              - Bermuda 
              - Ethiopia 
              - Congo 
              - Mali
              - Niger
              - Djibouti 
              - Maldives 
              - Guinea 
              - Haiti 
              - New Caledonia 
              - Bahamas 
              - Tanzania 
              - Cayman Islands
              - Equatorial Guinea 
              - Eritrea 
              - Mongolia 
              - Dominica 
              - Namibia 
              - Saint Martin 
              - Greenland 
              - Myanmar 
              - Syria
              - Grenada 
              - Saint Lucia 
              - Eswatini 
              - Curaçao
              - Guyana
              - Laos 
              - Libya 
              - Mozambique 
              - Seychelles 
              - Suriname 
              - Angola
              - Gabon
              - Zimbabwe
              - Antigua and Barbuda 
              - Cabo Verde
              - Sudan
              - Benin 
              - Vatican City 
              - Sint Maarten 
              - Nepal 
              - Fiji 
              - Mauritania 
              - Montserrat 
              - St. Barth 
              - Gambia
              - Nicaragua
              - Bhutan
              - Turks and Caicos
              - CAR
              - Chad
              - Liberia
              - Somalia
              - MS Zaandam
              - Anguilla
              - Belize
              - British Virgin Islands
              - Guinea    -Bissau 
              - Saint Kitts and Nevis
              - Papua New Guinea
              - St. Vincent Grenadines

  # User:
  #   type: object
  #   properties:
  #     id:
  #       type: integer
  #       format: int64
  #     username:
  #       type: string
  #     firstName:
  #       type: string
  #     lastName:
  #       type: string
  #     email:
  #       type: string
  #     password:
  #       type: string
  #     phone:
  #       type: string
  #     userStatus:
  #       type: integer
  #       format: int32
  #       description: User Status
  #   xml:
  #     name: User
  # ApiResponse:
  #   type: object
  #   properties:
  #     code:
  #       type: integer
  #       format: int32
  #     type:
  #       type: string
  #     message:
  #       type: string
